node_modules/

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit/
build/

# Cloudflare
.dev.vars
.wrangler/
wrangler.toml.bak
*.wrangler.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
.dev.vars
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

bun.lock
package-lock.json
